.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;

  button {
    align-self: center;
  }
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-between {
  justify-content: space-between;
}

.col-flex-two {
  display: flex;
  justify-content: flex-start;

  div {
    margin: 1px;
    align-self: center;
  }

  button {
    align-self: center;
  }
}
