/** 
 Vertically align a dev center
*/

.v-center-wrapper {
  display: table;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  .set-center {
    display: table-cell;
    vertical-align: middle;
  }
}

.font-size-12 {
  font-size: 12px;
}

.font-size-18 {
  font-size: 18px;
}

@media screen and (min-width: 200px) and (max-width:560px) {
  .show-on-large {
    display: none;
  }
}

@media screen and (min-width: 560px) and (max-width:1210px) {
  .show-on-large {
    display: none;
  }
}

@media screen and (min-width: 1210px) and (max-width:1600px) {
  .show-on-large {
    display: block;
  }
}
