.separator {
    display: flex;
    width: 100%;
    border-bottom: 3px solid var(--border-color);
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.tbl-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid var(--border-color);
}

/*** 
*
* Used for TweakWorkTemplate
*
*/
.d--grid--TweakWorkTemplate {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(auto, auto)); */
    grid-template-rows: 1fr;
}

.d--grid--TweakWorkTemplate-labels {
    align-items: center;
    display: grid;
}

.div-border-bottom {
    border-bottom: 1px solid var(--border-color);
}


/**** End of TweakWorkTemplate ****/