.interviewSection {
    background-image: url(./../../static/thimble-pattern@2x.png);
    background-repeat: repeat repeat;
    background-size: 200px;
    background-color: #47ad66;
    color: #000;
}

#interviewComponent {
    background-image: url(./../../static/interview_preparation.png);
    height: 25rem;
    background-size: 46rem;
    background-position: inherit;
    background-repeat: no-repeat;
}

.interview-card {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: flex-end;
}

.interview-card-content {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    min-height: 360px;
    text-align: center;
}

.interviewQuote {
    display: grid;
    grid-template-columns: 96%;
    justify-content: center;
}
