@import url('https://fonts.googleapis.com/css?family=Cookie');
@import url('https://fonts.googleapis.com/css?family=Arvo');
@import url('https://fonts.googleapis.com/css?family=Niconne&display=swap');

@import url('./styles/flex.scss');
@import url('./styles/buttons.scss');
@import url('./styles/utils.scss');
@import url('./styles/grid.scss');

:root {
  --black: #272727;
  --border-color: #bbb;
  --new-work-studio-log-color: #2B3252;
}

html {
  font-family: GillSans, Calibri, Trebuchet, sans-serif;
}

html, body, .block {
  height: 100%;
}

html::-webkit-scrollbar-track
 {
     -webkit-box-shadow: inset 0 0 6px #F5F5F5;
     background-color: #F5F5F5;
 }
 
 html::-webkit-scrollbar
 {
     width: 6px;
     background-color: #F5F5F5;
 }
 
 html::-webkit-scrollbar-thumb
 {
     background-color: #306584;
     border: 1px solid #306584;
 }
 
.cursor-pointer {
  cursor: pointer !important;
}

.cursor-pointer:hover {
  color: var(--new-work-studio-log-color);
}

 .tbl-d-grid {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(6, minmax(2rem, auto));
 }

 .tbl-d-grid > span.heading {
   color: var(--new-work-studio-log-color);
   display: -ms-grid;
   display: grid;
   justify-content: center;
 }

 .tbl-d-grid > span {
  padding: 8px 4px;
  word-wrap: break-word;
}

.nav-bg-color {
  background-color: #EF5455;
  color: var(--border-color);
}

.logo {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 12px;
  width: 50rem;
  height: 4.2rem;
  display: flex;
  /* grid-template-columns: repeat(auto-fit, minmax(2px, auto)); */
  align-items: flex-start;
}

.hoverable a {
  text-decoration: none;
}

.hoverable a:hover {
  text-decoration: none;
  color: var(--new-work-studio-log-color) !important;
}

.logo a:first-child {
  font-family: 'Arvo', serif;
  font-size: 20px;
  width: auto;
  padding-left: 30px;
  padding-right: 5px;
  color: var(--new-work-studio-log-color) !important;
}

.logo a:first-child:hover {
  text-decoration: none;
  color: var(--new-work-studio-log-color) !important;
}

.owner-name-display {
  font-family: 'Cookie', cursive;
  color: #FAD744;
  font-size: 40px;
}

.toastClass {
  background-color: #EF5455;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 16px;
}

.templateSection {
  min-height: 10rem;
  max-height: 10rem;
  overflow-y: auto;
}

.templateSection::-webkit-scrollbar-track
 {
     -webkit-box-shadow: inset 0 0 6px #F5F5F5;
     background-color: #F5F5F5;
 }
 
 .templateSection::-webkit-scrollbar
 {
     width: 6px;
     background-color: #F5F5F5;
 }
 
 .templateSection::-webkit-scrollbar-thumb
 {
     background-color: #306584;
     border: 1px solid #306584;
 }

 .row {
   margin: 0px !important;
 }

 .mr-2 {
   margin-right: 2rem;
 }

 .bg-success {
  background-color: #28a745!important;
}

.card_horizontal__image {
  background: #d50000;
  border-style: solid;
  border-color: #d50000;
  border-width: 8px;
  border-radius: 22px;
}

.p-0 {
  padding: 0px !important;
}

.interval-slide-text {
  font-family: 'Niconne', cursive;
  display: block;
  p:first-child {
    letter-spacing: 0.5rem;
  }
  p {
    text-overflow: ellipsis;
    text-align: center;
    max-height: 7rem;
  }

  p span {
    font-weight: bold;
    font-size: 24px;
  }
}

.interval-slide-heading {
  border-bottom: 1px solid;
  font-family: 'Cookie', cursive;
  margin-bottom: 1rem !important;
}

.notes-card-btn-placement {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-end;
}

