#notebooksDashboard .dashboardGridRow > span:nth-child(5) {
    color: var(--new-work-studio-log-color);
 }

#notebooksDashboard .dashboardGridRow {
    display: grid;
    grid-template-columns: repeat(6, minmax(2rem, auto));
}

#notebooksDashboard .dashboardGridRow > span.heading {
    color: var(--new-work-studio-log-color);
    display: grid;
    justify-content: center;
}

#notebooksDashboard .dashboardGridRow > span {
    padding: 8px 4px;
    word-wrap: break-word;
}